/*
body {
    background-image: url("circuit.png");
}
*/
.heading {
    text-align: center;
    font-family: "Helvetica";
    background-color: grey;
    border: solid;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: slategrey;
}

.horizontal {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #111;
}

.active {
background-color: lightskyblue;
}
