
body {
    background-image: url("prism.png");
}

.heading {
    font-size: 26pt;
    color: black;
}

.leftimg {
    margin-top: 60px;
    float: left;
    width: 50%;
    height: 400px;
}
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: slategrey;
}

.horizontal1 {
    float: left;
}
.horizontal2 {
    float: right;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: lightskyblue;
}

.txtbox1 {
    margin: auto;
    margin-top: 100px;
    background-color: slategrey;
    border: solid;
    text-align: center;
    width: 75%;
}
.txtbox2 {
    margin: auto;
    margin-top: 100px;
    background-color: slategrey;
    border: solid;
    width: 75%;
}
.txtbox3 {
    margin: auto;
    margin-top: 100px;
    width: 15%;
}
.txtbox4 {
    margin-top: 60px;
    float: right;
    text-align: center;
    background-image: url("houndstooth-pattern.png");
    width: 50%;
    height: 400px;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: lightskyblue;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }